{% extends 'index.html' %}
{% load static %}
{% block stylesheet %}
<title>AITR-ACM | Team</title>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/team-style.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'img/acm-icon.png' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{% endblock %}

{% block nav %}
<div class="mainbar">
    <nav class="nav">
        <input type="checkbox" name="" id="burger">
        <label for="burger" class="checkbtn">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="logo-header">
            <a href="{% url 'index' %}"><img src="{% static 'img/AITR ACM Student Chapter White-08.png' %}" alt=""></a>
        </div>
        <ul id="list">
            <li> <a href="{% url 'index' %}">Home</a></li>
            <li> <a href="{% url 'index' %}#about">About</a></li>
            <li> <a href="{% url 'events' %}">Events</a></li>
            <li class="active"> <a href="#">Team</a></li>
            <li> <a href="{% url 'index' %}#faqs">FAQ's</a></li>
            <li> <a href="{% url 'index' %}#contactUs">Contact Us</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block body %}
<button id="up"><a href="#top"><img src="{% static 'img/up-arrow.png' %}" alt="" srcset=""></a></button>
<div class="ms-team" id="team">
    <h2 class="head" id="ms-h-mentor">Our Mentors</h2>
    <div class="line"></div>
    <div class="ms-mentor-cards">
        {% for mentor in mentors %}
        <div class="teambox">
            <div class="teamimage">
                <img src="{% static mentor.image.url %}" alt="">
            </div>
            <h3 class="name" style="text-align: center;">{{ mentor.name | title }}</h3>
            <h4 class="designation" style="text-align: center;">{{mentor.designation | title }}</h4>
            {% if mentor.acm_link %}
            <a href="{{mentor.acm_link}}" style="text-decoration: none;" target="blank">
                <img src="{% static 'img\acm-icon.png' %}" alt="acm" srcset="">
            </a>
            {% endif %}
            {% if mentor.linkedin_link %}
            <a href="{{mentor.linkedin_link}}" style="text-decoration: none;" target="blank">
                <img src="{% static 'img/linkedin.png' %}" alt="linkedin" srcset="">
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <h2 class="head" id="ms-h-team">Our Team</h2>
    <div class="line"></div>
    <div class="ms-team-cards">
        <div id="row1">
            {% for member in team %}
            <div class="teambox">
                <div class="teamimage">
                    <img src="{{ member.image.url }}" alt="">
                </div>
                <h3 class="name" style="text-align: center;">{{ member.name | title }}</h3>
                <h4 class="designation" style="text-align: center;">{{member.designation | title}}</h4>
                {% if member.acm_link %}
                <a href="{{member.acm_link}}" style="text-decoration: none;" target="blank">
                    <img src="{% static 'img\acm-icon.png' %}" alt="acm" srcset="">
                </a>
                {% endif %}
                {% if member.linkedin_link %}
                <a href="{{member.linkedin_link}}" style="text-decoration: none;" target="blank">
                    <img src="{% static 'img/linkedin.png' %}" alt="linkedin" srcset="">
                </a>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<img id="bottom" src="images/teamlogo.png" alt="">
<script>
    mybutton = document.getElementById("up");

    // When the user scrolls down 500px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
            document.getElementById("burger").checked = false;
        }
    }
    // // When the user clicks on the button, scroll to the top of the document
    // function topFunction() {
    //     document.body.scrollTop = 0; // For Safari
    //     document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    // }
</script>
{% endblock %}